*.pyc
*.sublime-*
*.so
pyBadlands.egg-info/
*.mod
*.o
Examples/.ipynb_checkpoints/
libUtils/WaveComp/SwanSrc/*.o
*.swp
*.hdf5
*.xmf
*.xdmf
*.directory
.ipynb_checkpoints
build/
output_*
output/
.AppleDouble
__MACOSX
.DS_Store
*.dSYM
doc/_build/
tags
doc/env/
npm-debug.log
Examples/*/results_*
Examples/*/images
Examples/*/*_liklsurf*
Examples/*/*.zip
Examples/*/.idea/
Examples/*/*.ipynb
doc/*
